<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deviating from Attending Exhibition in person, Creating New Norms of Business Matching through Online!">
    <!-- vue-->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>NILE</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://nile.inc/"><img src="assets/img/nile-logo.png" alt="NILE" height="20"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#">ENG</a>
          <a class="nav-link" href="#">JP</a>
          <a class="nav-link" href="#">ESP</a>
          <a class="nav-link" href="#">FRA</a>
          <a class="nav-link" href="#">CN</a>
        </div>
      </div>
    </div>
  </nav>


    <div class="jumbotron">
        <div class="container">
            <div class="logo-area">
                <h1><img src="assets/img/nile-logo.png" alt="NILE" class="img-fluid"></h1>
            </div>
        </div>
    </div>
    <div id="main">
        <section class="section02">
          <div class="container">
            <div class="text">
              <h2>Deviating from Attending Exhibition in-person, <br> Creating New Norms of Business Matching through Online</h2>
              <h2 class="mt-5"><mark class="p-3 text-uppercase text-white">All at your fingertips!</mark></h2>
            </div>
          </div>
        </section>

        <section class="section03">
            <div class="container">
              <h6 class="lh-lg">NILE<br>is the <strong>"business matching" service,</strong> <mark class="text-white"><strong><span>available 24/7 and all year long</span></strong></mark> without worrying about the difference in time zones.</h6>
            </div>
              
        </section>


        <section class="section04">
          <div class="container">
            <div class="section04-contents col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 text">
              <h2>About NILE</h2>
              <button type="button" class="btn btn-video" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Watch the Introductory Video
              </button>
            </div>
          </div>
           <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About NILE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </section>


       

        <section class="section05">
           <div class="container">
            <div class="section05-contents col-lg-10 offset-lg-1 col-md-12 col-sm-12">
              

              <div class="text row" data-aos="zoom-in">
                <div class="image col-lg-3 col-md-3 col-sm-4 col-3 order-lg-1 order-md-1 order-sm-2 order-2">
                  <img src="assets/img/holding-iphone.png" alt="iphone image" class="img-fluid">
                </div>
                
                  <div class="text col-lg-9 col-md-9 col-sm-12 col-12 order-lg-2 order-md-2 order-sm-1 order-1">
                    <h2>Free Promotion!</h2>

                <p><strong>September 1st, 2021</strong> is the start of this service, we are launching the free promotion of using NILE <strong class="emphasis">FOR FREE</strong> for up to <strong class="emphasis">4 months!</strong></p>
                  <p>You will be able to use <strong class="emphasis">$2000 dollars worth FOR FREE!!</strong></p>
                  <p>Additionally, we will give you <strong class="emphasis">10 Free Tickets</strong> for Exhibitor and <strong class="emphasis">5 Free Tickets</strong> for Negotiator.</p>
                  <p><strong>Expiration Date: </strong> December 31st, 2021</p>
                  <p>Register Now and <strong>Don't Miss Out on the Opportunity!</strong></p>
                  <a href="https://nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">Register Now</a>
                  </div>
              </div>
            </div>
           </div>

           
        </section>
       

        <section class="section06">

            <div class="container">
              <div class="section06-text p-0" id="app">
                <h4>With NILE, you can...</h4>

                <!-- <h5 data-aos="fade-up">You will be able to cut time and costs at Exhibitions</h5>
                <p class="top" data-aos="fade-up">Only costs in NILE are the bargain-priced <strong>Exhibition Fee</strong>, and the <strong>Negotiation Chat Fee</strong>.</p>
                <hr> -->
                
                <!-- <h5 data-aos="fade-up">2. Match with companies across the globe.</h5> -->

               <div class="row">
                <div class="col-lg-3 col-sm-6 mb-3" v-for="capability in capabilities">
                  <div class="card h-100" data-aos="zoom-right">
                    <img :src="capability.image" alt="exhibition" class="img-fluid">
                    <div class="card-body">
                      <p class="card-text smaller"><strong>{{ capability.number }}. </strong>{{ capability.text }} </p>
                    </div>
                  </div>
                </div>
                
               </div>

                <hr>

                

                <p data-aos="zoom-in"><strong>5. </strong>By becoming an Exhibitor, you can post articles, product/company information.</p>
                <p data-aos="zoom-in"><strong>6. </strong>By becoming a Negotiator, you can view Exhibitor's information.</p>
                <p data-aos="zoom-in"><strong>7. </strong>With referrals, you can get additional tickets.</p>
                <a href="https://nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">Register Now</a>
              </div>

            
            </div>

        </section>



        <section class="section07">
            
            <div class="container" id="new">
              <h2 class="mb-3">You can start easily with NILE.</h2>
                <div class="row col-xl-10 offset-xl-1 col-lg-12 col-md-12">
                  <div class="col-lg-4 col-md-4 section07-area1" v-for="accomplish in accomplishments">
                    <div class="inner-wrapper">
                      <div class="section07-area2">
                        {{accomplish.task}} 
                    </div>
                    <div class="img">
                        <img :src="accomplish.image" alt="image" class="img-fluid">
                        <div class="img-text">
                            <p>{{accomplish.solution}}</p>
                        </div>
                    </div>
                    </div>
                  </div>
                    
                   
                    
                </div>

                <p class="text-center my-3 small">* These are the tasks that this service is trying to solve.</p>
            </div>
        </section>
        <section class="section08">
            <div class="container">
              <div class="section08-01">
                <h2 data-aos="fade-right">With NILE, You Will Be Able To...</h2>
  
              <ol>
                  <li data-aos="fade-right">Cut the time and costs from both domestic and the international Exhibitions.</li>
                  <li data-aos="fade-right">Match with companies across the globe. </li>
                  <li data-aos="fade-right">Use the chat function to talk and negotiate.  There are exclusive stickers, so you'd be able to chat casually.</li>
                  <li data-aos="fade-right">Negotiate smoothly with foreign countries as it supports multiple languages.(English, French, Spanish, Chinese, Japanese)</li>
                  <li data-aos="fade-right">Post many articles, product information, company information to registered companies if you choose to become an Exhibitor.</li>
                  <li data-aos="fade-right">View Exhibitor's information at any time if you choose to become a Negotiating Company.</li>
                  <li data-aos="fade-right">Get additional free tickets if you introduce this service to other companies. </li>
              </ol>

              
  
              <div>
                  <a class="btn btn-primary" href="https://nile.inc/users/sign_up?locale=en&pos=seller">Register Now</a>
              </div>
              </div>
            </div>
        </section>


        <section class="section09">
            <h2 class="text-center">NILE is a B2B Online Matching Service</h2>
            <div class="container">

              <div class="section09-01">
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="assets/img/img01.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">1. Register</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="assets/img/img02.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">2. Browse</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="assets/img/img03.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">3. View/Meet</h3></div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="assets/img/img04.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">4. Match</h3></div>
                    </div>
                  </div>
                  <div class="section09-01-01 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="card">
                      
                      <img src="assets/img/img05.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title">5. Start Chat</h3></div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="section09-01-01 col-lg-8 col-md-8 col-sm-8 col-8" data-aos="fade-right">
                    <h4 class="display-1"><i><i class="fas fa-caret-down"></i></i></h4>
                    <div class="card success">
                      <img src="assets/img/img06.png" alt="Register" class="card-img-top img-fluid">
                      <div class="card-body"><h3 class="card-title2 text-uppercase">Success</h3></div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
        </section>
        

        <!-- Price -->
        <section class="section11">
            <div class="section11-01 container">
                <div class="row text-center align-items-end">
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold viewer">Viewer</h1>
                       
              
                        <div class="custom-separator viewer my-4 mx-auto"></div>
              
                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>View</dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>Start Negotiation</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>Negotiation Tickets</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>Referral System</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>Post Articles</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>Advertise</del></dd>
                        </dl>
                        <!-- <p>&nbsp;</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
              
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold negotiator">Negotiator</h1>
                        
              
                        <div class="custom-separator negotiator my-4 mx-auto"></div>
              
                        <!-- <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> View</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Start Negotiation</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Negotiation Tickets</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Referral System</li>
                          <li class="mb-3 text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Post Articles</del>
                          </li>
                          <li class="mb-3 text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Advertise</del>
                          </li>
                        </ul> -->

                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>View</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Start Negotiation</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Negotiation Tickets</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Referral System</dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>Post Articles</del></dd>
                          <dt><i class="fa fa-times mr-2"></i></dt>
                          <dd><del>Advertise</del></dd>
                        </dl>
                        <!-- <p>&nbsp;</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
              
                    <!-- Pricing Table-->
                    <div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="zoom-in">
                      <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="text-uppercase font-weight-bold exhibitor">Exhibitor</h1>
                        
              
                        <div class="custom-separator exhibitor my-4 mx-auto"></div>
              
                        <!-- <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> View</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Start Negotiation</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Negotiation Tickets</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Referral System</li>
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Post Articles</li>
                          
                          <li class="mb-3">
                            <i class="fa fa-check mr-2 blue"></i> Advertise</li>
                        </ul> -->

                        <dl>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>View</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Start Negotiation</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Negotiation Tickets</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Referral System</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Post Articles</dd>
                          <dt><i class="fa fa-check mr-2 blue"></i></dt>
                          <dd>Advertise</dd>
                        </dl>
                        <!-- <p class="plus">You can use all features with this plan!</p> -->
                      </div>
                    </div>
                    <!-- END -->
              
                </div>


                <!-- Exhibitorだともっとできる -->
                <div class="price-list mt-5 text-center">

                  <div class="row no-gutters g-0">
                    <div class="title-blank col-lg-4 col-md-4 col-sm-4"></div>
                    <div class="title col-lg-4 col-md-4 col-sm-4 col-6">Price</div>
                    <div class="title col-lg-4 col-md-4 col-sm-4 col-6">Benefits</div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="exhibitor col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Exhibitor Plans</div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Monthly Plan</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$500</em></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">10 Free<br>Negotiation Tickets <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">6-Month Plan</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$2400</em></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">30 Free<br>Negotiation Tickets <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">12-Month Plan</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price"><em>$3600</em></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits">50 Free<br>Negotiation Tickets <span>*</span></div></div>
                  </div>

                  <div class="row price-list-body g-0 price-list-row">
                    <div class="negotiator col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">For Negotiators</div></div>
                  </div>

                  <div class="row price-list-body g-0 negotiation-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Negotiation Tickets (5 Sheets)</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">$5<br><span>$1/sheet</span></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                  </div>

                  <div class="row price-list-body g-0 negotiation-list-row">
                    <div class="row-header col-lg-4 col-md-4 col-sm-4 col-12"><div class="content-header">Negotiation Tickets (11 Sheets)</div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="price">$10<br><span>10 sheets + 1 free</span></div></div>
                    <div class="list-info my-auto col-lg-4 col-md-4 col-sm-4 col-6"><div class="benefits"><i class="fas fa-minus"></i></div></div>
                  </div>
                
                </div>

                <div class="register col-lg-6 col-md-8 col-sm-12">
                  <h5 class="mb-3"><strong><u>You'll Be Able to Use this Service for Free for 4 months! </u></strong></h5>
                  <p class="text-primary">Effective from September 1st, 2021 until December 31st, 2021</p>
                  <p><u><span>*</span>You'll be able to receive the tickets after the initial free period.</u></p>
                  
                  <a href="https://nile.inc/users/sign_up?locale=en&pos=seller" class="btn btn-primary">Register Now!</a>
                </div>
            </div>
        </section>

        <section class="section12">
          <div class="section12-01 container">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12">
              <ul>
                <li>Easy to Use!</li>
                <li>Use It Anytime, Anywhere!</li>
                <li>Everything at your fingertips!</li>
              </ul>
              
            </div>
          </div>
        </section>

        <section class="section13">
          <div class="container">
            <h2 class="text-center mb-5">How To Register</h2>
              <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>1. Selecting your role</h3>
                    <p class="px-2">Choose from Viewer/Negotiator/Exhibitor</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>2. Input e-mail and create a password</h3>
                    <h6 class="text-center"><u>Viewer</u></h6>
                    <p>View without verifications, but unable to use all functions</p>
                    <h6 class="text-center"><u>Negotiator/Exhibitor</u></h6>
                    <p>Input company information</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>3. E-Mail Confirmation</h3>
                    <p class="px-2">Make Sure to Confirm Email.</p>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-5 steps">
                  <div class="txt">
                    <h3>4. Posting Articles</h3>
                    <p class="px-2">By confirming, you will be able to post articles, products, company information.</p>
                  </div>
                </div>
              </div>

              <!-- <p class="text-center mt-5 details"><span><a href="https://if-intense.github.io/nile-help/">Click Here</a> to See More in Details</span></p> -->
              <div class="text-center my-2">
                <a href="https://if-intense.github.io/nile-help/" class="btn btn-warning">Click Here to See More in Details</a>
              </div>
          </div>
        </section>

        <section class="section10">
          <div class="container">
            <h2><span>Behind the Name</span></h2>
            <h3>NILE RIVER<br><span>The Longest River in the World</span></h3>

          <h5>Providing the platform to have Business Matching, being able to create <span>long-lasting business deals</span>.</h5>
          </div>

      </section>
    
    
        
    
    </div>

    <footer>
      <div class="container">
      <ul>
        <li><i class="far fa-envelope"></i> CONTACT</li>
        <li>Privacy & Policy</li>
        <li>Terms of Service</li>
        <li><a href="https://nile.inc/"><img src="assets/img/nile-logo-white.png" alt="NILE" height="14"></a></li>
      </ul>
     <p>© 2021 INVADE Co., Ltd.</p>
      </div>
    </footer>

    
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/app.js"></script>
<script>
  AOS.init();
</script>
</html>